body {
    background: #47bef6;
    font-family: 'Roboto', sans-serif;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}
.navbar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #1A2226;
	height: 50px;
	width: 100%;
	font-size: 20px;
	font-weight: 600;
	color: white;
}
.navbar a {
	text-decoration: none;
	color: white;
}
.navbar a:hover {
	color: #0DB8DE;
}
.login-box {
    margin-top: 75px;
    height: 500px;
	width: 400px;
	margin-top: 50px;
	border-radius: 10px;
    background: #1A2226;
    text-align: center;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.login-key {
	border-radius: 10px;
	border-bottom-left-radius: 0px ;
	border-bottom-right-radius: 0px;
    height: 100px;
    font-size: 80px;
    line-height: 100px;
    background: -webkit-linear-gradient(#27EF9F, #0DB8DE);

}
.login-title {
    margin-top: 50px;
	padding-top: 20px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 15px;
    font-weight: bold;
    color: #ECF0F5;
}
.login-form {
    margin-top: 25px;
	padding-top: 6px;
    text-align: center;
}
input[type=text] {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
    padding-left: 0px;
    color: #ECF0F5;
}

input[type=password] {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    padding-left: 0px;
    margin-bottom: 20px;
    color: #ECF0F5;
}
.form-group {
    margin-bottom: 40px;
    outline: 0px;
}
.form-group a {
	display: flex;
	justify-content: end;
	align-items: end;
	margin-right: 10px;
	text-decoration: none;
	font-size: 0.85rem;
}
.form-group a:hover {
	color: #0DB8DE;
}
.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #0DB8DE;
    outline: 0;
    background-color: #1A2226;
    color: #ECF0F5;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0;
}

label {
    margin-bottom: 0px;
}

.form-control-label {
    font-size: 10px;
    color: #6C6C6C;
    font-weight: bold;
    letter-spacing: 1px;
}

.btn-outline-primary {
    border-color: #0DB8DE;
    color: #0a0b0b;
	height: 30px;
	width: 90px;
    border-radius: 8px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-outline-primary:hover {
    background-color: #0DB8DE;
    right: 0px;
}

.login-btm {
    display: flex;
	justify-content: center;
	align-items: center;
}
.login-button {
	align-items: center;
    padding-right: 30px;
	padding-left: 60px;
	padding-bottom: 30px;
    text-align: right;
    margin-bottom: 25px;
}
.login-text {
    text-align: left;
    padding-left: 0px;
    color: #A2A4A4;
}
.loginbttm {
    padding: 0px;
}
.sign-in {
	font-size: 20px;
	font-weight: 200;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.sign-in a {
	text-decoration: none;
}
.sign-in a:hover {
	color: #034554;
}